
<ul>
    <li>
        <a href="tel: 12345421"> Telefon: 123454313</a>
    </li>
    <li class="listAlignLeft">
        <a href="pizzeriaLuigi@luigi.luigi"> Email: pizzeriaLuigi@luigi.luigi </a>
    </li>
    <li class="listAlignLeft">
        <a href="/home/impressum"> Impressum </a>
    </li>
</ul>