
<<<<<<< Updated upstream

<div class="row">
    <div class="column left">
        <ul>
            <li>
                <a href="tel: 12345421"> Telefon: 123454313</a>
            </li>
            <li class="listAlignLeft">
                <a href="pizzeriaLuigi@luigi.luigi"> Email: pizzeriaLuigi@luigi.luigi </a>
            </li>
        </ul>
    </div>
    <div class="column right">
        <ul>
            <li class="listAlignLeft">
                <a href="/home/impressum"> Impressum </a>
            </li>
        </ul>
    </div>
</div>
=======
<ul>
    <li>
        <a href="tel: 12345421"> Telefon: 123454313</a>
    </li>
    <li class="listAlignLeft">
        <a href="mailto: pizzeriaLuigi@luigi.luigi"> Email: pizzeriaLuigi@luigi.luigi </a>
    </li>
    <li class="listAlignLeft">
        <a href="/home/impressum"> Impressum </a>
    </li>
</ul>
>>>>>>> Stashed changes
