

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<h3>Login</h3>

<form asp-controller="customer" asp-action="login" method="post">
    <div class="form-group w-50 mx-auto">
        <label for="email">Email</label>
        <input type="text" name="email" class="form-control" placeholder="luigi.luigi@luigi.luigi" required />


    </div>
    <div class="form-group w-50 mx-auto">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" placeholder="12345..." required />

    </div>
    <div class="btn-group" style="float:right;">
        <button type="submit" value="login" class="ml-5 btn btn-outline-success">Anmelden</button>
        <a href="/customer/registration" class="mr-5 btn btn-outline-info">Registrieren</a>
    </div>

</form>
