
@{
    ViewData["Title"] = "Reservation";
}

<h1>Reservation</h1>

<form>
    <div class="input-group w-75">
        <div class="input-group-prepend">
            <span class="input-group-text resWid">Name*</span>
        </div>
        <input type="text" class="form-control" placeholder="Vorname" />
        <input type="text" class="form-control" placeholder="Nachname" />
    </div>
    <div class="input-group w-75">
        <div class="input-group-prepend">
            <span class="input-group-text resWid">Telefonnummer*</span>
        </div>
        <input type="tel" class="form-control" placeholder="+43012345..." />
    </div>
    <div class="input-group w-75">
        <div class="input-group-append">
            <div class="input-group-text resWid">
                <input type="checkbox" />Newsletter abonieren
            </div>
        </div>
        <input type="text" class="form-control" placeholder="l.luigi@luigi.com" />
    </div>
    <button type="submit" class="btn">Zum Menu</button>
</form>

