

main {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
}
content{
    flex:1;
    border-top:thick;
}

.headNav {
    color: white;
}

.imgBackground {
    height: 280px;
    background-color: black;
    background-image: url('../multimedia/pizzaLong.jpg');
    border-bottom:solid;
}
.headline{
    color:darkslategrey;
    padding-left:10px;
}

footer {
    max-height:50px;
    text-align: right;
    padding: 12px 20px 0px 0px;
    letter-spacing: 2px;
    clear: both;
    border-top: 1px solid #a7a4a4;
}

footer li {
    display: inline-block;
    list-style-type: none
}

footer ul {
    
}

listAlignLeft {
    text-align:right;
}

a {
    color:black;
}

a:hover {
    font-weight:bold;
    color:black;
}

.left{
    width: 75%;
    text-align:left;
}

.right{
    width:25%
}

Iframe{
    margin:5px 10px 5px 25px;
}

.dummerButton {
    margin: auto;
    border: 3px solid green;
}