
@{
    ViewData["Title"] = "Employees";
}

<h1 style="text-align:center">Employees</h1>

<div style="text-align:center">
    <p class="p-2">
        <div style="font-weight:bold">Chef:</div>
        Luigi Giovinazzi
    </p>
    <p class="p-2">
        <div style="font-weight: bold">Pizzameisterin:</div>
        Nicoletta Giovinazzi
    </p>
    <p class="p-2">
        <div style="font-weight: bold">Kellnerin:</div>
        Giuseppine Giovinazzi
    </p>
</div>