
@{
    ViewData["Title"] = "Impressum";
}

<h1 style="text-align: center">Impressum</h1>

<div style="text-align: center">
    <p>
        Informationen nach § 14 Unternehmensgesetzbuch, § 5 Abs. 1 E-Commerce-Gesetz und Offenlegung nach § 25 Mediengesetz
    </p>
    <p>
        <div style="font-weight: bold; font-size: large">Firmenwortlaut:</div>
        Luigi Giovinazzi AG Aktiengesellschaft
    </p>
    <p>
        <div style="font-weight: bold; font-size: large">Branche:</div>
        Gastronomie und Lieferservice
    </p>
    <p>
        <div style="font-weight: bold; font-size: large">UID-Nummer:</div>
        ATU01234567
    </p>
    <p>
        <div style="font-weight: bold; font-size: large">Firmenbuchgericht:</div>
        Handelsgericht Innsbruck
    </p>
    <p>
        <div style="font-weight: bold; font-size: large">Sitz:</div>
        Politische Gemeinde Ampass
    </p>
    <p>
        <div style="font-weight: bold; font-size: large">Adresse:</div>
        Göbentalweg 16j A-6070 Ampass
    </p>
    <p>
        <div style="font-weight: bold; font-size: large">Telefon:</div>
        +43 123454313
    </p>
    <p>
        <div style="font-weight: bold; font-size: large">E-Mail:</div>
        pizzeriaLuigi@luigi.luigi
    </p>
    <p>
        <div style="font-weight: bold; font-size: large">Mitgliedschaft:</div>
        Wirtschaftskammer Tirol
    </p>
    <p>
        <div style="font-weight: bold; font-size: large">Konzept & Design der Website:</div>
        Fabian Lintner & Marc Underrain
    </p>
</div>

