
@{
    ViewData["Title"] = "Index";
}

<h1 style="margin-left:5px; margin-top:10px">The History of the Luigis</h1>
@ViewData["Test"] = "login";
<table>
    <tr>
        <td>
            <p style="margin:10px">
                Alles begann im Jahre 1818 in der kleinen Stadt Monza, dort wurde die Pizzeria Luigi eröffnet. Mein Urururgroßvater Luigi, war der erste in der ganzen Region, nur bei ihm konnte man
                den Genuss einer wahrhaftigten italienischen Steinofen-Pizza. Leute reisten von überall her an, nur um einmal diesen kulinarischen Gaumenschmaus zuerleben. Seit dem sind wir landauf-landab bekannt
                und füren unser familien Geschäft mittlerweile in der 5. Generation fort.


            </p>
        </td>
        <td>
            <div style="margin-right:20px">
                <img src="..\multimedia\old_family_photo.jfif " />
            </div>
        </td>
    </tr>

</table>



